.travis
.dockerignore
.git
_build
bin/imitator
doc/api/html
_oasis
comparator
scripts
.gitignore
.merlin
.travis.yml
Dockerfile
INSTALL.txt
interfaceCV.py
LICENSE
paquito.yml
README.md
INSTALL.md
RELEASES.md
.DS_Store
