*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.pyc

# PyCharm configuration
.idea

# build files and folders
_build
_oasis
_tags
setup.data
setup.ml
setup.log
myocamlbuild.ml
src/BuildInfo.ml*
src/PaTATOR.ml


# testing logs
benchmarks/**/*.res
benchmarks/**/*.png
benchmarks/**/*.jpg
benchmarks/**/*.states
benchmarks/**/*.pdf

tests/**/*.log
tests/**/*.jpg
tests/**/*.png
tests/**/*.txt
tests/**/*.sh
tests/**/*.pdf

# binaries
*.native
bin/imitator
bin/patator

# documentation
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.log
doc/*.toc
doc/IMITATOR-not-developer-manual.out
doc/IMITATOR-not-developer-manual.pdf
doc/classDiagramFull.png
doc/classDiagramSimplified.png

# IDE
.vscode
